* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
  padding: 10px;
  background:#E3EDF7;
	/* background:rgb(240, 240, 251); */
  color: black;
	position: sticky;
	z-index: 20;
	top: 0;
	box-shadow: 0 5px 15px rgba(0, 0, 0,0.06);
}

nav {
  width: 90%;
  margin: auto;
  height: 60px;
	position: sticky;
}
.con {
  display: flex;
  justify-content: space-between;
	align-items: center;
}

.con ul {
  border: 1px solid re;
  display: flex;
  gap: 25px;
  list-style: none;
	/* justify-content: center;  */
  align-items: center;
}
nav a {
  color: black;
  list-style: none;
  text-decoration: none;
}
nav a:hover {
	color: rgb(75, 75, 237);
  text-decoration: underline;
  transition: 0.5s;
}

nav button {
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  background-color: rgba(128, 128, 128, 0.5);
  color: black;
  border: 1px solid black;
}
.toggle_menu {
  display: flex !important;
  justify-content: center;
  position: absolute;
  background:rgb(240, 240, 251);
  width: 100%;
  top: 60px;
  right: 0;
  padding: 20px;
}

.bar-menu {
  display: none;
}
.blog {
	width: 90%;
	margin: auto;
}
.blog_container {
	margin-top: 3rem;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 1rem;
}
.blog_items {
	width: 400px;
	/* height: 410px; */
	/* overflow: hidden; */
	background: #E3EDF7;
  transition: 0.3s;
  border-radius: 10px;
  border: 1px solid rgba(165, 164, 164, 0.5);
}
.blog_items:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;


}
.blog_items p {
	color: rgb(90, 89, 89);
}
.blog_itemimg img {
	width: 100%;
	height: 300PX;
	/* border: 1PX solid red; */
}
.blog_itemtext {
  padding: 0.5rem;
  /* border: 1PX solid red; */
}
/* main {
	height: 140vh;
} */
footer {
	margin-top: 5rem;
  width: 100%;
  background: black;
}
.footer-container {
  padding:  15px 0;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.footer_itme {
  width: 200px;
  color: #E3EDF7;
}
.footer_itme ul {
  list-style: none;
}
.footer_itme h6 {
  font-size: 17px;
  font-weight: bolder;
  text-decoration: underline;
}
.footer_itme li {
margin: 5px 0 ;
}
.contact li {
  display: flex ;
  align-items: center;
  gap: 5px;
  
}












@media screen and (max-width: 786px) {
  .bar-menu {
    display: flex;
    justify-content: center;
  }
   ul {
    display: none !important;
  }
}